.gradient{
    background-image: linear-gradient(to bottom right, rgb(66, 152, 206),white);
}
.filters p{
    cursor: pointer;
}
.filter{
    width: 100%;
    background-color: gray;
height: 2px;
}
input[type=checkbox]{
    padding:4px;
}
.date{
    font-size:x-small;
}
.chekbox{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(92, 156, 211);
    background-color: transparent;
    border-radius: 0%;
}